<VirtualHost *:443>
  ServerName {{ apache_domain }}
  DocumentRoot {{ apache_docroot }}

  ErrorLog {{ apache_errorlog }}{{ apache_domain }}-error.log
  CustomLog {{ apache_customlog }}{{ apache_domain }}-access.log combined

  SSLEngine on
  SSLCipherSuite AES256+EECDH:AES256+EDH
  SSLProtocol All -SSLv2 -SSLv3
  SSLHonorCipherOrder On
  SSLCertificateFile {{ ssl_certificate }}
  SSLCertificateKeyFile {{ ssl_certificate_key }}
  SSLCertificateChainFile {{ ssl_certificate }}

  <Directory {{ apache_docroot }}>
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>


</VirtualHost>